name: Deploy Documentation

on:
  push:
    branches: [ main, unstable ]
    paths:
      - 'docs/**'
      - 'mkdocs.yml'
  pull_request:
    branches: [ main, unstable ]
    paths:
      - 'docs/**'
      - 'mkdocs.yml'
  workflow_dispatch:
    inputs:
      build_clear:
        description: 'Effectuer un build clear ?'
        required: false
        default: 'false'

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main' || github.ref == 'refs/heads/unstable'
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'
        
    - name: Install dependencies
      run: |
        pip install mkdocs mkdocs-material mkdocs-i18n
        
    - name: Deploy to GitHub Pages
      run: |
        git config --global user.name 'github-actions[bot]'
        git config --global user.email 'github-actions[bot]@users.noreply.github.com'
        if [[ "${{ github.event.inputs.build_clear }}" == "true" ]]; then
          mkdocs gh-deploy --force --clean
        else
          mkdocs gh-deploy --force
        fi